h1 {
    text-align: center;
    margin: 20px;
}

.accordion {
    background-color: #eee;
    color: #555555;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    font-size: 16px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #858585;
    color: whitesmoke;
}

.accordion:after {
    content: '\002B';
    float: right;
    font-weight: bold;
    margin-left: 5px;
}

.active:after {
    content: '\2212';
}

.panel {
    font-size: 18px;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

}