img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin-bottom: -4px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #e1e0e0;
}

h1 {
    text-align: center;
    margin: 20px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    color: #2c2b2b;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row.after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 96%;
    max-width: 1200px;
}

.close {
    position: absolute;
    color: white;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #b53b3b;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides img {
    height: 70vh;
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2px 16px;
}

.demo {
    opacity: 0.4;
    height: 15vh;
    object-fit: cover;
    margin-bottom: 16px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.active, .demo:hover {
    opacity: 1;
    transform: scale(1.01);
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}