#card-search form {
    border: 1px solid #5553;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

#card-search form input,
#card-search form button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
}

#card-search form i {
    opacity: 0.7;
}

#card-search .result {
    display: none;
    padding-top: 20px;
    text-align: center;
}

#card-search .result .active {
    display: block;
}

#card-search .result .name {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#card-search .temperature img {
    width: 150px;
    filter: drop-shadow(
            0 10px 50px #000
    );
}

#card-search .temperature figcaption {
    font-size: 3em;
}

#card-search .result .search-description {
    padding: 10px 0 30px;
}

#card-search .result ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

#card-search .result li {
    background-color: #fd8b61;
    color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
            to bottom,
            transparent 50%,
            #0003 50%
    );
    font-weight: bold;
    font-size: small;
    transition: background-image 0.5s ease
}

#card-search .result li i {
    font-size: 2em;
    display: block !important;
    margin: 20px 0;
}

#card-search .result li:nth-child(2) {
    background-color: mediumpurple;
}

#card-search .result li:nth-child(3) {
    background-color: royalblue;
}